<div class="dashboard-container">
  <h2>Website Visits Statistics</h2>

  <div class="chart-container">
    <div class="chart-item">
      <h3>Visits By Country</h3>
      <canvas id="pieChart1" width="400" height="400"></canvas>
    </div>

    <div class="chart-item">
        <h3>Device Information</h3>
        <canvas id="deviceChart" width="400" height="400"></canvas>
    </div>
  
    <div class="chart-item">
      <h3>Total Visits Over Time</h3>
      <canvas id="barChart1" width="400" height="400"></canvas>
    </div>

    <div class="chart-item">
        <h3>Unique Visits Over Time</h3>
        <canvas id="barChart2" width="400" height="400"></canvas>
      </div>

    </div>  
</div>
