<p class="border">
    Testlar soni: {{dict.length}} | Natija: {{userCorrectTimes}} ta to`g`ri
    <!-- <i class="bi bi-check"></i>--> 
      | {{userFalseTimes}} ta xato 
      <!-- <i class="bi bi-x"></i>  -->
      | Test raqami: {{totalTestNumbers.length}}  
</p>
<p>
    Bu so`zning ma`nosi nima?
</p>
<h2 *ngIf="test; else elseBlock">
  <span *ngIf="UZ_AR; else AR_UZ">
  {{test.arabic}} \ {{test.pronunciation}} \
</span>
<ng-template #AR_UZ>
  {{test.uzbek}}
</ng-template>

</h2>
<ng-template #elseBlock>
    <h3>Server bilan aloqa yo'q. Iltimos, biroz sabr qiling yoki birozdan keyin yana qayta kirib ko'ring. Rahmat</h3>
</ng-template><br>
<p>Quyidagi javoblardan birini tanlang:</p>
<span *ngIf="UZ_AR; else AR_UZ">
<button *ngFor="let ans of answers; index as i;" id="ans{{i}}" class="ans-btn btn btn-light" (click)="submitAnswer(i)"><i class="bi"></i>
  {{ans.uzbek}}
</button>
</span>
<ng-template #AR_UZ>
  <button *ngFor="let ans of answers; index as i;" id="ans{{i}}" class="ans-btn btn btn-light" (click)="submitAnswer(i)"><i class="bi"></i>
    {{ans.arabic}} \{{ans.pronunciation}}\
  </button>

</ng-template>


<br>
<button (click)="generateTest()" class="btn btn-primary" title="Keyingi testni yuklash">Keyingi</button>
<br>
<button (click)="changeUzbArab()" class="btn btn-info" title="Tilni almashtirish">Arab <i class="bi bi-arrow-left-right"></i> O`zbek</button>

