<div class="profile-container">
  <h2>User Profile</h2>
  <div class="profile-content">
    <div class="profile-picture">
      <img *ngIf="profileImage; else noImage" [src]="profileImage" alt="Profile Picture">
      <ng-template #noImage>
        <img id="profile-picture" src="/assets/images/default-profile-image.jpg" alt="default profile image">
      </ng-template>
      <div class="upload-controls">
        <input type="file" (change)="onFileSelected($event)" id="file-upload">
        <!-- <label for="file-upload" class="upload-button">Change Picture</label> -->
        <button *ngIf="selectedFile != null" class="upload-button" (click)="uploadProfilePicture()">Upload</button>
      </div>
    </div>
    <div class="profile-details">
      <p><strong>Name:</strong> {{ user.firstname + " " + user.lastname }}</p>
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>Username:</strong> {{ user.username }}</p>
      <p><strong>Activated:</strong> {{ user.is_activated ? "Yes" : "No" }}</p>
      <p *ngIf="user.is_superuser"><strong>Superuser:</strong> Yes</p>
    </div>
  </div>
</div>
