<div class="profile-container">
  <h2>User Profile</h2>
  <div class="profile-content">
    <div class="profile-picture">
      <label for="file-upload" class="profile-picture-label">
        <div class="profile-picture-container">
          <img *ngIf="user.profilePicture; else noImage" [src]="'data:image/jpeg;base64,' + user.profilePicture" alt="Profile Picture">
          <ng-template #noImage>
            <img src="/assets/images/default-profile-image.jpg" alt="Default Profile Image">
          </ng-template>
          <div class="overlay-text">Change Picture</div>
        </div>
      </label>
      <input type="file" (change)="onFileSelected($event)" id="file-upload" style="display:none;">
    </div>    
    <div class="profile-details">
      <p><strong>Name:</strong> {{ user.firstname + " " + user.lastname }}</p>
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>Username:</strong> {{ user.username }}</p>
      <p><strong>Activated:</strong> {{ user.is_activated ? "Yes" : "No" }}</p>
      <p *ngIf="user.is_superuser"><strong>Superuser:</strong> Yes</p>
    </div>
  </div>
</div>
