/* You can add global styles to this file, and also import other style files */
.word-arabic {
  margin: 10px;
  font-size: 2.5rem;
  color: #2c3e50;
  direction: rtl;
  line-height: 0;
}

.word-meaning {
  font-size: 28px;
  font-style: bold;
}

.form {
  margin: 5px;
  padding: 2px;
}

.btn {
  margin: 10px;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
